

<header>
    <div class="navbar">
        <a href="/login.html"><img src="https://w7.pngwing.com/pngs/212/403/png-transparent-thrasher-magazine-alternative-logo.png" alt=""></a>
        <ul>
            <div class="sections_navbar">
            <li><a href="../index.html">Home</a></li>
            </div>
        </ul>
    </div>
    
    </header>