<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/productoRegistrar.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>

<header>
    <div class="navbar">
        <a href="/login.html"><img src="https://w7.pngwing.com/pngs/212/403/png-transparent-thrasher-magazine-alternative-logo.png" alt=""></a>
        <ul>
            <div class="sections_navbar">
            <li><a href="../index.html">Home</a></li>
            </div>
        </ul>
    </div>
    
    </header>
    <body>
        <div class="container_register">
            <div class="formulario_register">
                <h2>Registra un producto!</h2>
            <form action="/productos/agregar-productos" class="register" method="POST" enctype="multipart/form-data">
            <div class="elemento1">
                <label class="formulario" for="imagen">imagen</label>
                    <input type="file" id="imagen" name="imagen" placeholder="imagen">
                  </label>
                
                <br>
                <label class="formulario" for="nombre">Nombre</label>
                <input class="formulario" type="nombre"  name="nombre" id="nombre" placeholder="Nombre del producto">
                <br>
                <label class="formulario" for="descripcion">descripcion</label>
                <input class="formulario" type="descripcion" name="descripcion" id="descripcion" placeholder="agregue una descripcion">
                <br>
                <label class="formulario" for="categoria">categoria</label>
                <input class="formulario" type="categoria" name="categoria" id="categoria" placeholder="agregue una categoria">
                <br>
                <label class="formulario" for="precio">precio</label>
                <input class="formulario" type="number" name="precio" id="precio" placeholder="agregue un Precio">
                <br>

                <br>
                <button type="submit" class="btn btn-primary" class="button">Registrarse</button>
            </div>
        </div>
    </div>

</body>
<footer class="Nosotros_container">
    <section id="Nosotros">
            <ul>
                <li class="Titulo_nosotros">Nosotros</li>
                <li>Ubicación: Centro, Montevideo,Uruguay.</li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li> Copyright 2023 ©</li>
            </ul>
        </section>
</footer>
</html>