
*{  padding: 12px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

/*  Header  */
nav{
    justify-content: space-around;
    float:left;
}

header h1{
    text-align: center;
    float: center;
}
.menu{
    background-color: #A04000;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content:center;

}

.menu a{
    text-decoration: none;
    color:#000000;
}

.menu a:hover{
    color:#441600;
    text-decoration: none;
    font-size: 1.5rem;
}

header img{
    max-width: 150px;
    border-radius: 100px;
    float: left;
}

nav ul li{
    list-style:none;
    float:center;
    gap: 25px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color:#441600;
    font-weight: bold;

}

nav ul li a:hover{
    color:#000000;
    text-decoration: none;
    font-size: 1.5rem;
}

img{
    max-width: 100%;
    border-radius: 20px;
}

/*  Body  */

body{
    background-color: #faeee5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}
body ul li{
    list-style:none;
    gap: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    align-content: center;
    font-weight: bold;
}
body ul li a{
    text-decoration: none;
    color: #000000;
}
body ul li a:hover{
    color:#441600;

}
body section{
    display: flex;
}
body section a{
    text-decoration: none;
    color: #000000;
}

/*  Shop */

.productos_categoria{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    gap: 1rem;
    
}

.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:start;
    align-content: flex-start;
    gap: 1rem;
}


/*  Novedades   */

.Novedades{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: start;
    align-content: flex-start;
    justify-content: flex-start;
}

.container_novedades{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 50px;
}
#novedades img{
    max-height: 250px;
}

#novedades h3{
        color:#441600;
        text-decoration: none;
}

#novedades a:hover{
    color: #441600;
    text-decoration: none;
    
}
/*  Footer  */

footer{
    background-color:#A04000 ;
    text-align: center;
    margin-top: 100px;
    float: center;

}

footer ul li{
    list-style:none;
    float:center;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}


footer ul li a{
    text-decoration: none;
    color:#000000;
}

footer ul li a:hover{
    text-decoration: none;
    font-size: 1rem;
}

#Nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    align-content: flex-start;
}

.Nosotros_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    align-content: center;
}

.Titulo_nosotros{
    font-size: 30px;
    color:#441600 ;
}