
*{ padding:0px;
    margin:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* navbar  */

.navbar{
    background-color: #A04000;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    align-content:center;
}

.navbar ul li{
    list-style: none;
    font-weight: bolder;
    margin-top: 10px;
}
.navbar ul li a{
    color: #000000;
}

.sections_navbar{
    color: black;
    text-decoration: none;
}

.sections_navbar a:hover{
    color: #441600;
    font-size: 1.5rem;
    text-decoration: none;

}

.navbar img{
    width: 150px;
    border-radius: 50%;
}
.sections_navbar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: start;
    align-content: flex-start;
    gap: 25px;
    
}

.container_busqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}

/*  Body  */

.Inicio ul li{
    list-style:none;
    gap: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    align-content: center;
    font-weight: bold;
}
.Inicio ul li a{
    text-decoration: none;
    color: #000000;
}
.Inicio ul li a:hover{
    color:#441600;

}

.Inicio section a{
    text-decoration: none;
    color: #000000;
}

/* Catalogo */

.container_todo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 15px;
    gap: 15px;
}

.container_iconos{
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 25px;
    cursor: pointer;
}
.container_iconos img{
    width: 100%;
    height: 100%;
    
}

.container_iconos a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #A04000;
    width: 200px;
    height: 100px;
    color:black;
}
.container_iconos a:hover{
    color: black;
}

/*  Shop */
.Shop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    gap: 15px;
    margin-left: 15px;

}

.producto img{
    
    width: 150px;
    height: 150px;
}

.Categorias h3{
    margin-left:15px;
}

.Shop h2{
    margin-left: 5px;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding:5px;
    width: 260px;
}

.card img{
margin-top: 10px;
}
/*  Novedades   */

.Novedades{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: start;
    align-content:  flex-start;
    justify-content: flex-start;
    margin-top: 15px;
}

.container_novedades{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 15px;
    gap:25px;
    margin-left: 15px;
}
#novedades img{
    max-height: 150px;
    border-radius: 25%;
    margin-top: 15px;
}

#novedades h3{
        color:#441600;
        text-decoration: none;
        margin-top:15px;
}

#novedades a:hover{
    color: #441600;
    text-decoration: none;
    
}
/*  Footer  */

footer{
    background-color:#A04000 ;
    text-align: center;
    float: center;
    margin-top: 20px;

}

footer ul li{
    list-style:none;
    float:center;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}


footer ul li a{
    text-decoration: none;
    color:#000000;
}

footer ul li a:hover{
    text-decoration: none;
    font-size: 1.5rem;
}

#Nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    align-content: flex-start;
}

#Nosotros a:hover{
    color: #441600;
}

.Nosotros_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    align-content: center;
}

.Titulo_nosotros{
    color:#441600 ;
}


/*  Media Query */

/* catalogo */

@media (min-width:768px){
    .container_todo{
        flex-direction: column;
    }

    .container_iconos{
        flex-direction: row;
        width: 700px;
        justify-content: center;
    }
}

/* navbar */
@media (min-width: 768px){
    .navbar{
        flex-direction: row;
        align-items: start;
        align-content: flex-start;
    }
 
    .menu{
        flex-direction: row;
        justify-content: space-between;
        
    }
}

/* Shop*/

@media (min-width: 700px){
    .producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

/* Novedades */

@media (min-width: 700px){
    .container_novedades{
        flex-direction: row;
        align-items: start;
        align-content: flex-start;
    }
    
    .Novedades{
        flex-direction: row;
        align-items: start;
        align-content: flex-start;
    }
}


